.App {
  display: flex;
  flex-direction: row;
  height: 1000px;
}
.AppHeader {
  position: absolute;
  top: 5px;
  left: 200px;
  right: 0;
  height: 50px;
  color: #fff;
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.AppSidebar {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 100%;
}

.PageContent {
  position: absolute;
  top: 60px;
  left: 200px;
  right: 0;
  height: 350px;
  color: #333;
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Footer {
  position: absolute;
  top: 425px;
  left: 200px;
  right: 0;
  height: 700px;
  color: #333;
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Revenue {
  display: flex;
}

.Revenueleft {
  background-color: #ed712e;
  height: 292px;
  width: 391px;
  margin: 0 8px;
  /* text-align: center; */
  border-radius: 7%;
}

.Revenueright {
  margin-left: 10px;
  background-color: white;
  border-radius: 1%;
  height: 439px;
  width: 1286px;
}

.Revenueleft-title1 {
  color: white;
  font-weight: 700;
  padding-top: 20px;
  font-size: 18px;
  margin-left: 15px;
}

.Revenueright-title p {
  color: black;
  margin-left: 10px;
  font-weight: 700;
  padding-top: 20px;
  font-size: 20px;
}

.TitleName {
  color: black;
  position: absolute;
  font-size: 24px;
  margin: 10px;
  top: 10px;
  width: 100%;
}
