.modal-button{
    background-color: blueviolet;
    color: #ffffff;
    border-radius: 5px;
    width: 30px;
    border: none;
    height: 30px;
    position: absolute;
    top: -13px;
    right: -8px;
}
.modal-button:hover{
    background-color: rgb(170, 124, 213);
}
