.wrapper-service{
    width: 1000px;
}

  .title{
    padding-bottom: 20px;
    font-size: 30px !important;
  }

  .action-button{
    width: 200px;
    height: 50px;
    margin-right: 8px;
    background-color: #ED712E;
    font-weight: bold;
    font-size: 20px;
  }


