.trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.dashboardd-container {
  width: 100%;
  padding: 45px;
}

.data-table {
  margin-top: 50px;
  background-color: #ffffff;
}

.ant-table-cell {
  background-color: #ffffff !important;
}

.ant-table-content {
  margin: 0 25px;
  font-size: 18px;
  line-height: 25px;
}

.status {
  border-radius: 32px;
  text-align: center;
  font-size: 18px;
  line-height: 25px;
}
.table-header{
  margin: 30px 35px;
}