@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Patua+One&display=swap');

.heading{
    margin-top: 50px;
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;

    color: #000000;
}
.room__Type{
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 24px;
    margin: 0;
    display: flex;
    align-items: center;
    color: #000000;
}

.icon-item{
    width: 600px;
    height: 119px;
    left: 861px;
    top: 416px;border-radius: 20px;
    box-shadow: #000000;
    border-radius: 20px;
    margin-top: 40px;
}
.review{
font-family: 'Nunito', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 27px;

color: #000000;
}

.Date-PickerForm{
    margin-left: 50px;
    margin-top: 30px;
    width: 497px;
    height: 180px;
    left: 850px;
    top: 614px;
    
    background: #c2c1c5;
    border-radius: 20px;
    display: inline-block;
    margin-right: 30px;

}

.button-2{
    box-sizing: border-box;  
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 31px;
    text-align: center;
    width: 550px;
    height: auto;
    color: #000000;
    border: 2px solid #C18346;
    border-radius: 20px;
    
}

