@import url('https://fonts.googleapis.com/css?family=Nunito');

body {
  font-family: 'Nunito', sans-serif;
}

.SiderTittle {
  width: 98px;
  height: 64px;
  margin-left: 7px;
  margin-top: 16px;
  margin-bottom: 16px;
  background: white;
  text-align: center;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: orange;
  font-weight: bold;
  border: 1px solid #E5E5E9;
  font-size: 28px;
}

.MainContainer {
  display: grid;
  grid-template-areas:
    "sider navbar navbar"
    "sider main main";
  height: 100vh;
}

.PSNavbar {
  grid-area: navbar;
  max-height: 50px;
  min-width: 100%
}

.PSSider {
  grid-area: sider;
  min-height: 100vh;
  min-width: 120px
}

.PSMain {
  grid-area: main;
}

.ServiceBox {
  height: 38.1px;
  width: 40px;
  background-color: #FC7D72;
  position: absolute;
  top: -25px;
  right: -10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  flex-direction: column;
  line-height: 0.2px;
  color: white;
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}

.GridContainer {
  position: relative;
  display: inline-block;
  min-width: 200px;
  min-height: 150px;
  margin-left: 10px;
  border-radius: 6px;
}

.ViewChangeContainer {
  margin-left: 1100px;
  display: flex;
  align-items: center
}

.MainViewContainner {
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 30px;
  margin-right: 30px;
}

.MainViewFlex {
  display: flex;
  align-items: center
}

.MainViewTextTittle {
  font-weight: bold;
  margin-right: 10px;
  color: #8c8c91;
}

.MainViewTextTittle1 {
  font-weight: bold;
  margin-right: 10px;
  font-size: 27px;
}

.marginRight10 {
  margin-right: 10
}

.DetailImage {
  width: 100%;
  height: 100%
}

.DetailReview {
  flex: 1;
  font-weight: bold;
  font-size: 25px;
  margin-left: 350px;

}


.DetailDes {
  max-width: 780px;
  font-size: 20px
}

.NavVer {
  min-width: 100px;
  margin-top: 16px;
  margin-left: 16px;
  color: #429AE4;
  font-weight: bold;
}

.NavIcon {
  margin-right: 50px;
  margin-top: 16px
}

.NavUserName {
  margin-bottom: 90px;
  margin-top: 11px;
  font-weight: bold;
}

.displayFlex {
  display: flex;
}

.displayFlexColor {
  display: flex;
  background-color: #E5E5E5;
  max-height: 50px;
}

.NavMoveRight {
  display: flex;
  margin-left: 1300px;
}

.FullDes {
  text-decoration: underline;
  color: blue
}

.SiderLayout {
  min-height: 100vh;
  background-color: white
}

.SiderMenu {
  min-height: 100vh;
}

.GridName {
  font-weight: bold;
  margin-bottom: 0px;
}

.GridDate {
  font-size: 17px;
  margin-top: 10px;
  margin-left: 19px;
}

.RoomImageFlex {
  flex: 1;
  margin-right: 40px
}

.RoomInfoFlex {
  flex: 1;
}

.RoomInfoContainer {
  width: 497px;
  height: 180px;
  background-color: #e1eaf7;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  padding: 20px;
  margin-top: 50px;
}

.RoomInfoItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 30px;
  margin-top: 10px
}

.Flex1 {
  flex: 1
}

.Flex123 {
  width: 145px;
  height: 49px;
  border: 2px solid #E5E5E9;
  border-radius: 20px;
  margin-top: 15px;
  margin-left: 50px;
}


.Flex12 {
  width: 216px;
  height: 49px;
  border: 2px solid #E5E5E9;
  border-radius: 20px;
  margin-top: 15px;
}

.RoomInfoTittle {
  margin-top: 95px;
  font-size: 30px;
  font-weight: 'bold'
}

.DecorateNone {
  text-decoration: none;
}

.PosRelative {
  position: relative;
}

.Bold {
  font-weight: bold;
}

.RangePicker {
  min-height: 40px;
  max-width: 220px;
}

.RoomBeneFit {
  height: 119px;
  width: 520px;
  margin-top: 50px;
  background-size: cover;
  background-Repeat: no-repeat;
  background-position: center;
  margin-left: 90px;
}

.ChooseRoomButon {
  width: 490px;
  height: 60px;
  border-radius: 20px;
  background-color: #F1E2D3;
  font-weight: bold;
  font-size: 20px;
  border: 2px solid #C18346;
  margin-top: 50px;
}

.ButtonPos {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  margin-top: 60px;
}

.RoomInfoTypeName {
  font-weight: bolder;
  font-size: 35px;
  margin-bottom: 10px;
}

.Card {
  min-width: 200px;
  min-height: 150px;
  margin-left: 10px;
  border-radius: 6px;
}

.card {
  margin-top: 20px;
}

.top40 {
  margin-top: 40px;
}

.AvatarMain {
  background-color: #D9D9D9;
  margin-left: 10px;
}

.service-box-container {
  background-color: #FC7D72;
  width: 200px;
  padding: 20px;
  border-radius: 15px;
  margin-bottom: 20px;
}

.service-box-content {
  color: white;
  overflow: auto;
}

.LineView {
  height: 15px;
  width: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 5px;
  margin-left: 10px;
  cursor: pointer;
}

.GridView {
  height: 15px;
  width: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 5px;
  cursor: pointer;
}

.RoomPageContain {
  background-color: #E5E5E5;
  min-height: 100vh;
  overflow: hidden
}

.ServiceBoxCount {
  background-color: #FC7D72;
  height: 38.1px;
  width: 40px;
  color: white;
  border-radius: 3px;
  margin-left: 95px;
  text-align: center;
  line-height: 38.1px;
}

.ServiceBoxMainContain {
  position: absolute;
  bottom: 160px;
  left: 90px;
}

.SearchBar {
  width: 15%;
  min-width: 80px
}

.SiderItem {
  margin-left: 9px;
  width: 43px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-items: center;
}

.RoomInfoContain {
  min-height: 100vh;
  padding: 80px
}

.RoomInfoBack {
  margin-left: auto;
  height: 40px;
  width: 120px;
  color: white;
  background-color: #f22f46;
  border: 0;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.RoomInfoBack:hover {
  background-color: #fa622f;
}

.NotPay {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

