/* header */
.version {
    text-align: left;
    color: blue
}

.userSession {
    text-align: right
}

.header {
    padding: 0
}

.headerIcon {
    font-size: 22px;
    margin: 20px
}

.avt {
    margin: 20px
}

/* rooom */
a {
    text-decoration: none;
    color: black
}

a:hover {
    color: black
}

.roomCard {
    border: 1px solid grey;
    border-radius: 12px;
    margin: 20px;
    min-width: 200px;
    min-height: 150px;
    flex-direction: column;
    padding: 10px;
    position: relative
}

.service {
    position: absolute;
    margin-left: 40%
}

.bed {
    border-radius: 50%;
    background-color: gray;
    min-width: 25px;
    min-height: 25px
}

.sideLogo {
    height: 36px;
    margin: 12px;
    background: rgba(255, 255, 255, 0.2);
    font-size: 20px;
    color: #eb7d34;
    font-weight: bold;
    border: solid;
    border-radius: 10px;
    text-align: center
}

/* .layout{
} */
.content {
    min-height: 800px;
}

.heading {
    text-align: left;
    display: flex;
    flex-direction: row;
    font-size: 20px
}

.search-session {
    margin-left: 20px;
    width: 200px;
    align-items: center;
    display: flex
}

.view {
    text-align: left;
    display: flex;
    flex-direction: row-reverse;
    font-size: 20px
}

.view-header {
    margin-right: 10px
}

.service-form-container {
    background-color: white;
    margin-top: 20px;
    font-size: 20px;
    width: 905px;
    height: 785px;
    margin: 5% 45%;
}
.form-container{
    margin: 0 83px;
}
.item-title{
    margin-bottom: 10px;
}
.item-input{
    width: 737px;
}
.service-title
{
    font-size: 32px;
    text-align: left;
    width: 100%;
    font-weight: 600;
    margin-bottom: 20px;
}
/* .ant-select-selector{
    height: 81px !important;
}
.ant-select-selection-placeholder
{
    font-size: 28px;
    line-height: 70px !important;
} */
.btn-sub{
    width: 218px;
    height: 75px;
    background-color: #ED712E;
    color: #FAFAFA !important;
    font-size: 23px;
}
.submit-btn{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}