/* header */
.version {
    text-align: left;
    color: blue
}

.userSession {
    text-align: right
}

.header {
    padding: 0
}

.headerIcon {
    font-size: 22px;
    margin: 20px
}

.avt {
    margin: 20px
}

/* rooom */
a {
    text-decoration: none;
    color: black
}

a:hover {
    color: black
}

.roomCard {
    border: 1px solid grey;
    border-radius: 12px;
    margin: 20px;
    min-width: 200px;
    min-height: 150px;
    flex-direction: column;
    padding: 10px;
    position: relative
}

.service {
    position: absolute;
    margin-left: 40%
}

.bed {
    border-radius: 50%;
    background-color: gray;
    min-width: 25px;
    min-height: 25px
}

.sideLogo {
    height: 36px;
    margin: 12px;
    background: rgba(255, 255, 255, 0.2);
    font-size: 20px;
    color: #eb7d34;
    font-weight: bold;
    border: solid;
    border-radius: 10px;
    text-align: center
}

/* .layout{
} */
.content {
    min-height: 800px;
    margin: 0 30%;
}

.heading {
    text-align: left;
    display: flex;
    flex-direction: row;
    font-size: 20px
}

.search-session {
    margin-left: 20px;
    width: 200px;
    align-items: center;
    display: flex
}

.view {
    text-align: left;
    display: flex;
    flex-direction: row-reverse;
    font-size: 20px
}

.view-header {
    margin-right: 10px
}

.service-form-container {

    background-color: white;
    margin-top: 20px;
    padding: 50px;
    font-size: 20px;

}
.item-title{
    margin-bottom: 10px;
}