.TypeRoom{
    padding: 10px 10px 82px 130px;
    &__Type{
        font-family: 'Nunito', sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 35px;
        line-height: 24px;
        display: flex;
        align-items: center;

        color: #000000;
    }
}