.gird-view{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    justify-content: center;
    margin-left: 20px;
}
.gird-view:hover{
    background-color: rgb(213, 207, 199);
}

.list-view{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    justify-content: center;
    margin-left: 20px;
}
.list-view:hover{
background-color: rgb(213, 207, 199);
}

