@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Patua+One&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;

}

.Header-page {
    margin: 10px 30px;
    font-family: 'Nunito', sans-serif;
}

.Header-title {
    font-family: 'Nunito', sans-serif;
    position: absolute;
    left: 994px;
    top: 20px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
}

.Header-title li {
    display: inline-block;
    margin-left: 30px;
    font-family: 'Nunito', sans-serif;
}
                              
.Header-img img {
    width: 1480px;
    height: 500px;
    left: 30px;
    top: 5px;
    border-radius: 8px;
}

.Header-info {
    position: absolute;
    width: 1460px;
    height: 98px;
    top: 450px;
    display: flex;
    align-items: center;
    background: #F1E2D3;
    border-radius: 0px 0px 40px 40px;
    font-family: 'Nunito', sans-serif;
    display: flex;
}

.icon-phone svg {
    width: 32px;
    height: 30.58px;
    margin-left: 100px;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    font-family: 'Nunito', sans-serif;

    color: #000000;
}

.numberPhone {
    width: 316px;
    height: 54px;
    left: 183px;
    top: 449px;
    font-family: 'Nunito', sans-serif;
    margin-left: 30px;
    font-style: normal;
    font-weight: 800;
    font-size: 47px;
    line-height: 65px;

    color: #2D2019;
}

.header-des {
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 25px;
    margin-left: 20px;
    color: #000000;
    margin-right: 250px;
    font-family: 'Nunito', sans-serif;
}

.book-now {
    box-sizing: border-box;
    width: 204px;
    height: 40px;
    display: flex;
    align-items: center;
    text-align: end;
    justify-content: space-between;
    background: #F1E2D3;
    border: 2px solid #C18346;
    border-radius: 20px;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
    font-family: 'Nunito', sans-serif;
}
/* @media (min-width: 1200px) {
    *{
        
    }
}
  @media  screen and (max-width:500px) {
   


 } */



/* End Header */
.TypeRoom {
    width: 508px;
    height: 52px;
    left: 150px;
    top: 700px;
    margin-bottom: 30px;
    position: absolute;
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 65px;
    color: #2D2019;
    font-family: 'Nunito', sans-serif;
}
.ant-tabs-ink-bar {
    padding: 3px;
    font-family: 'Nunito', sans-serif;
}
.RoomType {
    position: absolute;
    width: 1308px;
    height: 52px;
    left: 100px;
    top: 750px;

    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 33px;

    color: #2D2019;
}

.ant-tabs-tab-btn {
    padding: 0 35px;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 33px;
    font-family: 'Nunito', sans-serif;
    color: #2D2019;
}

.RoomBox {
    display: inline-block;
    width: 25%;
    margin-top: 20px;
}

.Content-img img {
    height: 155px;
    width: 280px;
    left: 0px;
    top: 0px;
    border-radius: 30px;

}

.Content-Roomtype {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 33px;

    color: #000000;
}

.Content-des {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;

    color: #000000;

}

.Service {
    position: absolute;
    width: 1550px;
    height: 484px;
    left: 10px;
    top: 1450px;

    background: #F5F3F4;
}

.title-services {
    position: absolute;
    width: 214px;
    height: 52px;
    left: 650px;
    top: 30px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 65px;

    color: #2D2019;

}

.Service-box {
    display: inline-block;
}

.Service-icon {
    margin: 170px 150px 0px 150px;
    width: 70px;
    height: 70px;
    top: 20.64%;
    background: #C4C4C4;
    border-radius: 50px;
    margin-bottom: 30px;
}

.Service-TypeRoom {
    text-align: center;
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
    margin-bottom: 20px;
    color: #000000;
}

.Service-Des {
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;

    color: #000000;
}

.OurGallery {
    position: absolute;
    top: 1600px;
    height: 480px;
}

.OurGallery1 {
    position: absolute;
    top: 1500px;
    height: 480px;
}

.OurGallery-title {
    position: absolute;
    width: 304px;
    height: 52px;
    left: 200px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 65px;

    color: #2D2019;
}

.OurGallery-des {
    position: absolute;
    width: 304px;
    height: 52px;
    left: 208px;
    top: 80px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    color: #000000;
}

.OurGallery-img {
    position: relative;
    display: inline-flex;
    width: 271px;
    height: 450px;
    top: 20px;
    left: 150px;
    margin-left: 15px;
    object-fit: cover;

}

.OurGallery-img img {
    object-position: 4px -46px;
}

.bottom-img img {

    position: absolute;
    width: 1718px;
    height: 400px;
    left: 0px;
    top: 2550px;
    object-position: 4px -46px;
}

.bottom-img1 {
    position: absolute;
    width: 1718px;
    height: 418px;
    left: 140px;
    top: 3100px;
}




.Footer {
    position: absolute;
    width: 100%;
    height: 27.24px;
    left: 129px;
    top: 3300px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 800;
    font-size: 26px;
    line-height: 35px;

    color: #000000;
}
.Contact ul li{
    display: inline-block;
    margin: 0px 50px 0px 80px;
    
}


.Col .desc {
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
    line-height: 22px;
    width: 257px;
    font-weight: 400;
    margin-top: 15px;
}

.copy {
    position: absolute;
    display: flex;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    left: 550px;
    color: #000000;
    font-family: 'Nunito', sans-serif;  
    height: 70px;
}











